  <div class="w-screen border-b-2 py-1 mt-2">
    <div class="flex justify-center p-1 space-x-24 lg:space-x-96 todo-item">
      <div class="flex lg:flex-1 text-lg border-1 border-black" (click)="onTodoClicked()"
        [class.completed]="todo.completed" *ngIf="todo.completed">
        <button type="button"><i
            class="fa fa-check flex border border-black border-opacity-50 rounded-full shadow-sm text-green-500 p-1"></i></button>
      </div>
      <div class="flex lg:flex-1 text-lg border-1 border-black" (click)="onTodoClicked()"
        [class.completed]="todo.completed" *ngIf="!todo.completed">
        <button type="button"><i
            class="fa fa-check flex border border-black border-opacity-50 rounded-full shadow-sm text-gray-400 text-opacity-30 hover:text-green-500 p-1"></i></button>
      </div>
      <div class="flex items-center line-clamp-1 hover:line-clamp-none lg:flex-auto" *ngIf="todo.text.length > 35">
        <p class="text-center text-md font-semibold hover:line-clamp-none">{{todo.text}}</p>
      </div>
      <div class="flex items-center lg:flex-auto" *ngIf="todo.text.length < 35">
        <p class="text-center text-md font-semibold">{{todo.text}}</p>
      </div>
      <div class="justify-start flex space-x-1 text-lg ">
        <button type="button"><i
            class="fa fa-pencil border-black border border-opacity-50 shadow-sm text-gray-500 p-1"></i></button>
        <button type="button"><i
            class="fa fa-trash border border-black border-opacity-50 shadow-sm text-gray-500 p-1"></i></button>
      </div>
    </div>
  </div>
