  <div class="justify-center w-screen lg:w-auto border-2 px-10 py-1 mt-2">
    <div class="flex flex-row justify-center p-1">
      <div class="justify-start flex text-lg border-1 border-black pr-24">
        <button type="button"><i
            class="fa fa-check border border-black border-opacity-50 shadow-sm text-green-500"></i></button>
      </div>
      <div class="justify-center flex flex-row">
        <p clas="text-lg font-bold ml-6 pl-6 text-center justify-center text-3xl">This is a Placeholder text</p>
      </div>
      <div class="justify-start flex space-x-1 text-lg pl-24">
        <button type="button"><i
            class="fa fa-trash border-black border border-opacity-50 shadow-sm text-gray-500 p-1"></i></button>
        <button type="button"><i
            class="fa fa-pencil border border-black border-opacity-50 shadow-sm text-gray-500 p-1"></i></button>
      </div>

    </div>
  </div>
